
div {
  height: 50px;
  margin: 5px;
  padding: 5px;
  float: left;
}
#box1 {
  width: 50px;
  color: yellow;
  background-color: blue;
}
#box2 {
  width: 80px;
  color: rgb(255, 255, 255);
  background-color: green;
}
#box3 {
  width: 40px;
  color: #fcc;
  background-color: purple;
}
#box4 {
  width: 70px;
  background-color: pink;
}
