h1 {
  font-size: 1.8rem;
  margin-bottom: 25px;
  text-align: center;
}

h2 {
  font-size: 1.8rem;
  margin-bottom: 25px;
  text-align: center;
}

#app { margin-bottom: 80px; }
.song { text-align: center; }

tbody tr:hover {
  background-color: #32e272;
  cursor: pointer;
}

button {
  cursor: pointer;
  margin-top: 40px;
}
