body {
  margin: 0;
  padding: 0;
  background: #f2f2f2;
}

form {
  margin-top: 100px;
}

li {
  list-style: none;
}

li.list {
  border: 1px solid red;
}

ul#lista {
  margin-top: 30px;
}

input {
  border-radius: 5px;
  padding: 5px 30px;
}

svg {
  float: right;
  margin-top: 5px;
}
